@model IEnumerable<ContosoCrm.Common.Models.Contact>
@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <h1 class="display-4">All Contacts</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

<h1 class="display-4">All Contacts</h1>

<div>
    <table class="table table-striped table-hover">
        <tr>
            <th>Type</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Company</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
        @foreach (var contact in Model)
        {
            <tr>
                <td>@contact.ContactType</td>
                <td>@contact.LastName</td>
                <td>@contact.FirstName</td>
                <td>@contact.Company</td>
                <td>@contact.Email</td>
                <td>@contact.Phone</td>
            </tr>
        }
    </table>
</div>

<div>
    <p>Note: Cosmos DB Information | RUs: @ViewBag.TotalRUs @*| Read Region: @ViewBag.ReadRegion*@</p>
</div>